extends ../shared/template
block content

  .row
    h2 Add a Trip
  .row
    form.form-horizontal(role='form', method='post', id='myForm' action='/trips/new', enctype='multipart/form-data')
      input#beginLat(type='hidden', name='beginLat')
      input#beginLng(type='hidden', name='beginLng')
      input#endLat(type='hidden', name='endLat')
      input#endLng(type='hidden', name='endLng')
      .col-xs-5
        .form-group
          label(for='tripName') Enter Name of Trip
          input.form-control#tripName(type='text', name='tripName', placeholder='Las Vegas 2014', autofocus=true)
        .form-group
          label(for='cash') Enter Amount of Cash
          input.form-control#cash(type='text', name='cash', placeholder='1000')
        .form-group
          label(for='originName') Enter Origin City
          input.form-control#originName(type='text', name='originName', placeholder='Nashville, TN')
        .form-group
          label(for='destinationName') Enter Destination City
          input.form-control#destinationName(type='text', name='destinationName', placeholder='Las Vegas, NV')
        .form-group
          label(for='carPhoto') Upload Photo of Car
          input.form-control#carPhoto(type='file', name='carPhoto')
      .col-xs-2
      .col-xs-5
        .form-group
          label(for='startDate') Enter Start Date
          input.form-control#startDate(type='date', name='startDate', placeholder='9/1/2014')
        .form-group
          label(for='endDate') Enter End Date
          input.form-control#endDate(type='date', name='endDate', placeholder='12/1/2014')
        .form-group
          label(for='mpg') Enter Your Car's MPG
          input.form-control#mpg(type='text', name='mpg', placeholder='35')
        .form-group
          label(for='gasPrice') Enter Price of Gas per Gallon
          input.form-control#gasPrice(type='text', name='gasPrice', placeholder='3.40')
      button.btn-lg.btn-primary(type='submit' form='myForm') Save Trip!

block scripts
  script(src='/js/user/new.js')
